<footer class="bg-gray-500 py-8 mt-20">
    <div class="container mx-auto px-6">
        <div class="flex justify-between items-center text-white">
            <div>
                © {{ null | date("yyyy") }} Asteria Production
            </div>
            <div class="flex items-center gap-2">
                <i class="fas fa-envelope"></i>
                <a href="mailto:asso.asteria@gmail.com" class="hover:text-gray-200 transition-colors duration-300">
                    asso.asteria@gmail.com
                </a>
            </div>
        </div>
    </div>
</footer>
