<section id="composition" class="min-h-screen pt-48">
    <div class="container mx-auto px-6">
        <h2 class="text-5xl font-bold mb-8">Composition</h2>
        <p class="text-xl text-gray-600 mb-12">
            Découvrez l'art de la composition musicale à travers nos créations originales.
        </p>
    </div>

    {%- for composition in collections.compositions -%}
    <div class="container mx-auto px-6 py-6">
        {{ composition.content | safe }}
    </div>
    {%- endfor -%}

</section>
