<section id="spectacle" class="min-h-screen pt-20">
    <div class="container mx-auto px-6">
        <h2 class="md:text-8xl text-6xl font-bold mb-2 font-['Squada_One'] uppercase">Spectacle</h2>
        <p class="text-xl text-gray-600 mb-12">
            Plongez dans l'univers de nos spectacles uniques et immersifs.
        </p>
    </div>

    {%- for spectacle in collections.spectacles -%}
    <div class="container mx-auto px-6">
        {{ spectacle.content | safe }}
    </div>
    {%- endfor -%}
</section>
