<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img
            src="{{ affiche }}"
            alt="affiche de {{ titre }}"
            class="w-3/5 object-cover rounded-lg shadow-lg mx-auto block"
        />
    </div>
    <div class="prose max-w-none flex flex-col min-h-full">
        <div>
            <h3 class="md:text-4xl text-3xl font-bold mb-2">{{ titre }}</h3>
            <h4 class="text-xl mb-12">{{ type }}</h4>
            <p class="text-justify mb-10">{{ texte | nl2br | safe }}</p>
            <p>{{ interpretes | nl2br | safe }}</p>
            <p class="mt-8">
                <span class="font-bold"><i class="fas fa-envelope"></i></span>
                {{ contact }}
            </p>
        </div>
        <div class="flex-grow flex items-center">
            <button
                class="bg-gray-800 text-white px-8 py-3 rounded-lg hover:bg-gray-700 transition-colors duration-300"
            >
                Agenda
            </button>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-20">
    <div>
        <h3 class="text-3xl font-bold mb-10 flex items-center gap-4">
            En
            <span class="font-bold uppercase">images</span>
            <span
                class="h-[3px] bg-gradient-to-r from-sky-500 via-pink-500 to-yellow-500 flex-grow mt-2"
            ></span>
        </h3>
        <div class="flex justify-center">
            <div class="w-4/5 relative" style="padding-bottom: 45%">
                <iframe
                    width="100%"
                    height="315"
                    src="{{ youtube }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-3xl font-bold mb-10 flex items-center gap-4">
            En<span class="font-bold uppercase">musique</span>
            <span
                class="h-[3px] bg-gray-300 flex-grow bg-gradient-to-r from-sky-500 via-pink-500 to-yellow-500"
            ></span>
        </h3>
        <div class="flex justify-center">
            <div class="w-4/5">
                <iframe
                    width="100%"
                    height="450"
                    scrolling="no"
                    frameborder="no"
                    allow="autoplay"
                    src="https://w.soundcloud.com/player/?url={{ soundcloud }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
                ></iframe>
            </div>
        </div>
    </div>
</div>
