<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img
            src="{{ affiche }}"
            alt="affiche de {{ titre }}"
            class="w-3/5 object-cover rounded-lg shadow-lg mx-auto block"
        />
    </div>
    <div class="prose max-w-none flex flex-col min-h-full">
        <div>
            <h3 class="text-4xl font-bold mb-2">{{ titre }}</h3>
            <h4 class="text-xl mb-12">{{ type }}</h4>
            <p class="text-justify">{{ texte | nl2br | safe }}</p>
        </div>
        <div class="flex-grow flex items-center justify-center">
            <button
                class="bg-gray-800 text-white px-8 py-3 rounded-lg hover:bg-gray-700 transition-colors duration-300"
            >
                Agenda
            </button>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
    <div>
        <h3 class="text-2xl font-bold mb-4">
            En
            <span
                class="font-bold bg-gradient-to-r from-sky-500 via-pink-500 to-yellow-500 text-transparent bg-clip-text"
                >images</span
            >
            ...
        </h3>
        <div class="flex justify-center">
            <div class="w-4/5 relative" style="padding-bottom: 45%">
                <iframe
                    class="absolute top-0 left-0 w-full h-full rounded-lg"
                    src="{{ video }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-2xl font-bold mb-4">
            En
            <span
                class="font-bold bg-gradient-to-r from-sky-500 via-pink-500 to-yellow-500 text-transparent bg-clip-text"
                >musique</span
            >
            ...
        </h3>
        <div class="flex justify-center">
            <div class="w-4/5">
                <iframe
                    class="w-full rounded-lg"
                    height="166"
                    src="{{ soundcloud }}"
                    frameborder="0"
                    allow="autoplay"
                ></iframe>
            </div>
        </div>
    </div>
</div>
