<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img
            src="{{ affiche }}"
            alt="affiche de {{ titre }}"
            class="w-3/5 object-cover rounded-lg shadow-lg mx-auto block"
        />
    </div>
    <div class="prose max-w-none flex flex-col min-h-full">
        <div>
            <h3 class="text-4xl font-bold mb-2">{{ titre }}</h3>
            <h4 class="text-xl mb-12">{{ type }}</h4>
            <p class="text-justify">{{ texte | nl2br | safe }}</p>
        </div>
        <div class="flex-grow flex items-center justify-center">
            <button
                class="bg-gray-800 text-white px-8 py-3 rounded-lg hover:bg-gray-700 transition-colors duration-300"
            >
                Agenda
            </button>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
    <div>
        <h3 class="text-2xl font-bold mb-4">En images ...</h3>
    </div>
    <div>
        <h3 class="text-2xl font-bold mb-4">Deuxième colonne</h3>
    </div>
</div>
